<?php echo $this->headTitle($this->translate('Log in'))->setAutoEscape(false) ?>
<div class="row">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Login') ?></h3>
            </div>
            <div class="panel-body">
<?php
$form->setAttribute('action', $this->url('application/default', array('controller' => 'auth', 'action' => 'login')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($form);
?>
				<div class="form-group">
					<label for="username" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('username')));
?>
					</label>
					<div class="col-sm-4">
<?php
echo $this->formElement($form->get('username')
						->setAttribute('class', 'form-control')
						->setAttribute('autofocus', 'true')
					   );
?>
					</div>
					<div class="col-md-offset-2 col-sm-10">
<?php
echo $this->formElementErrors($form->get('username'), array('class' => 'bg-danger'));
echo (isset($error)) ? "<ul class='bg-danger'><li>" . current($error) . "</li></ul>" : '';
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('password')));
?>
					</label>
					<div class="col-sm-6">
<?php
echo $this->formElement($form->get('password')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('password'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
<?php
echo $this->formSubmit($form->get('submit')
					  	->setAttribute('class', 'btn btn-primary')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>

</div>
