<?php echo $this->headTitle($this->translate('Metrics'))->setAutoEscape(false) ?>
<style type="text/css">
	#draggablePanelList .panel-heading, .highcharts-title {
        cursor: move;
    }
</style>
<ul id="draggablePanelList" class="list-unstyled">
	<div class="row">
		<li class="panel panel-default col-md-12">
			<div class="panel-heading"></div>
			<div class="panel-body" id="chart1" style="width:100%; height:400px;"></div>
		</li>
	</div>
	<div class="row">
		<li class="panel panel-default col-md-12">
			<div class="panel-heading"></div>
			<div class="panel-body" id="chart2" style="width:100%; height:400px;"></div>
		</li>
	</div>
</ul>
<script type="text/javascript">
	require(['jquery', 'highcharts', 'highcharts-exporting', 'heatmap', 'jquery-ui'], function($, Highcharts) {
		$(function () {
			$( "#draggablePanelList" ).sortable({
				handle: '.panel-heading, .highcharts-title',
				opacity: 0.5,
				cursor: "move"
			});

			var isSmall = ($( window ).width() > 990) ? false : true;

			var chartOptions = {
				credits: {
            		enabled: false
        		},
				chart: {
					renderTo: 'chart1',
					type: 'column'
				},
				title: {
					text: '<?php echo $this->translate('Students per career'); ?>'
				},
				xAxis: {
					categories: ['<?php echo $this->translate('Careers'); ?>']
				},
				yAxis: {
					tickInterval: 1,
					title: {
						text: '<?php echo $this->translate('Students'); ?>'
					}
				},
				series: <?php echo json_encode($series); ?>
			};

			var legendOptions = $.extend({
				legend: {
					align: 'right',
					verticalAlign: 'top',
					y: 30,
					layout: 'vertical'
				}
			}, chartOptions);

			var chart = new Highcharts.Chart((!isSmall) ? legendOptions : chartOptions);

			var chartOptions2 = {
				credits: {
            		enabled: false
        		},
				chart: {
					renderTo: 'chart2',
					type: 'heatmap'
				},
				title: {
					text: '<?php echo $this->translate('Attendance per hour'); ?>'
				},
				xAxis: {
					categories: <?php echo json_encode($hours); ?>
				},
				yAxis: {
					categories: <?php echo json_encode($days); ?>,
					title: null
				},
				series: [{
					name: 'Attendance per hour',
					borderWidth: 1,
					data: <?php echo json_encode($data); ?>,
					dataLabels: {
						enabled: true,
						color: '#000000'
					}
				}],
				colorAxis: {
					min: 0,
					max: <?php echo $max; ?>,
					minColor: '#FFFFFF',
					maxColor: Highcharts.getOptions().colors[0]
				},
				legend: {
					align: 'right',
					layout: 'vertical',
					margin: 0,
					verticalAlign: 'top',
					y: 25,
					symbolHeight: 280
				},
				tooltip: {
					formatter: function () {
						return 'A las <b>' + this.series.xAxis.categories[this.point.x] + ' hrs</b> hubo <br><b>' +
							this.point.value + '</b> estudiantes el <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
					}
				},
			};

			var chart2 = new Highcharts.Chart(chartOptions2);

			$( window ).resize(function() {
				var width = $( window ).width();
				if (width < 990 && !isSmall) {
					chart.destroy();
					chart = new Highcharts.Chart(chartOptions);
					isSmall = true;
				} else if (width >= 990 && isSmall) {
					chart.destroy();
					chart = new Highcharts.Chart(legendOptions);
					isSmall = false;
				}
			});

		});
	});
</script>
