<?php echo $this->headTitle($this->translate('Check in correct!'))->setAutoEscape(false) ?>
<div class="row">

	<div class="jumbotron">
		<h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<?php echo $alumno->apellidos . ', ' . $alumno->nombre; ?>&nbsp;&nbsp;<small><?php echo $alumno->matricula; ?></small></h1>
		<p><?php echo $alumno->carrera->nombre; ?></p>
		<p><?php setlocale(LC_TIME, 'es_ES'); echo strftime('%A, %d %B %Y - %H:%M', $asistencia->horaFecha->getTimestamp()); ?></p>
	</div>

</div>

<div class="row">

	<button class="btn btn-default" id="return-btn" type="button"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Return'); ?></button>

</div>
<script type="text/javascript">
	require(['jquery', 'history'], function($, History) {
		History.replaceState(null, null, "<?php echo $this->url('application/default', array('controller' => 'checkin', 'action' => 'index')); ?>");
		setTimeout(function () {
			History.back();
		}, 1000 * 15);
		$('#return-btn').click(function(event) {
			event.preventDefault();
			History.back();
		});
	});
</script>
