<?php echo $this->headTitle($this->translate('Check in'))->setAutoEscape(false) ?>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<div id="clock" class="light">
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	require(['jquery', 'clock'], function($, clock) {
		clock('clock');
	});
</script>
<div class="row">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Attendance') ?></h3>
            </div>
            <div class="panel-body">
<?php
$form->setAttribute('action', $this->url('application/default', array('controller' => 'checkin', 'action' => 'registro')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($form);
?>
				<div class="form-group">
					<label for="matricula" class="col-md-offset-3 col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('matricula')));
?>
					</label>
					<div class="col-sm-4">
<?php
echo $this->formElement($form->get('matricula')
						->setAttribute('class', 'form-control')
						->setAttribute('autofocus', 'true')
						->setAttribute('id', 'matricula')
					   );
?>
					</div>
					<div class="col-md-offset-2 col-sm-8">
<?php
echo $this->formElementErrors($form->get('matricula'), array('class' => 'bg-danger'));
echo (isset($error)) ? "<ul class='bg-danger'><li>" . $this->translate($error) . "</li></ul>" : '';
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-7 col-sm-10">
						<span class='glyphicon glyphicon-star' aria-hidden='true'></span>&nbsp;
<?php
echo $this->formSubmit($form->get('submit')
					  	->setAttribute('class', 'btn btn-default')
					  );
?>
						&nbsp;<span class='glyphicon glyphicon-star' aria-hidden='true'></span>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
	require(['jquery'], function($) {
		$('#matricula').val('');
	});
</script>
