<?php echo $this->headTitle($this->translate('Sign up correct!'))->setAutoEscape(false) ?>
<div class="row">

	<div class="jumbotron">
		<h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;<?php echo $alumno->apellidos . ', ' . $alumno->nombre; ?>&nbsp;&nbsp;<small><?php echo $alumno->matricula; ?></small></h1>
		<p><?php echo $alumno->carrera->nombre; ?></p>
	</div>

</div>

<div class="row">

	<a href="<?php echo $this->url('application/default', array('controller' => 'registro', 'action' => 'index')); ?>" class="btn btn-default"><?php echo $this->translate('Add new student'); ?></a>

</div>
