<?php echo $this->headTitle($this->translate('Sign up'))->setAutoEscape(false) ?>
<div class="row">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Student registration') ?></h3>
            </div>
            <div class="panel-body">
<?php
$form->setAttribute('action', $this->url('application/default', array('controller' => 'registro', 'action' => 'registrar')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($form);
?>
				<div class="form-group">
					<label for="matricula" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('matricula')));
?>
					</label>
					<div class="col-sm-4">
<?php
echo $this->formElement($form->get('matricula')
						->setAttribute('class', 'form-control')
						->setAttribute('autofocus', 'true')
					   );
?>
					</div>
					<div class="col-md-offset-2 col-sm-10">
<?php
echo $this->formElementErrors($form->get('matricula'), array('class' => 'bg-danger'));
if (isset($error)) {
	echo "<ul class='bg-danger'>";
	foreach($error as $err) {
		echo "<li>" . ($err) . "</li>";
	}
	echo "</ul>";
}
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('nombre')));
?>
					</label>
					<div class="col-sm-6">
<?php
echo $this->formElement($form->get('nombre')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('nombre'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="apellidos" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('apellidos')));
?>
					</label>
					<div class="col-sm-6">
<?php
echo $this->formElement($form->get('apellidos')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('apellidos'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="idCarrera" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('idCarrera')));
?>
					</label>
					<div class="col-sm-10">
<?php
echo $this->formElement($form->get('idCarrera')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('idCarrera'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="idDeporte" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('idDeporte')));
?>
					</label>
					<div class="col-sm-10">
<?php
echo $this->formElement($form->get('idDeporte')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('idDeporte'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-10">
<?php
echo $this->formElement($form->get('activo')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('activo'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label for="certificado"><?php echo $this->translate('Certificate'); ?></label>
					</div>
					<div class="col-sm-10">
						<div class="input-group date">
							<input type="text" class="form-control" name="certificado" id="certificado" value="<?php echo (new \Datetime)->format('d/m/Y'); ?>" readonly /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
						</div>
					</div>
				</div>
<?php
$this->headScript()
	->prependFile($this->basePath('js/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js'))
	->prependFile($this->basePath('js/bootstrap-datepicker/js/bootstrap-datepicker.min.js'));

$this->headLink()
	->prependStylesheet($this->basePath('js/bootstrap-datepicker/css/bootstrap-datepicker3.min.css'))
?>
				<script type="text/javascript">
					require(['datepicker', 'datepicker-es'], function() {
						$('#certificado').datepicker({
							format: "dd/mm/yyyy",
							todayBtn: "linked",
							language: "es",
							autoclose: true,
							todayHighlight: true,
							defaultViewDate: { year: <?php echo intval((new \Datetime)->format('Y')); ?>, month: <?php echo intval((new \Datetime)->format('m')); ?>, day: <?php echo intval((new \Datetime)->format('d')); ?> }
						});
					});
				</script>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
<?php
echo $this->formSubmit($form->get('submit')
					  	->setAttribute('class', 'btn btn-success')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>

</div>
