<?php echo $this->headTitle($this->translate('Upload file'))->setAutoEscape(false) ?>
<div class="row">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Import students') ?></h3>
            </div>
            <div class="panel-body">
				<form action="<?php echo $this->url('application/default', array('controller' => 'import', 'action' => 'import')) ?>" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="archivo" class="col-sm-2 control-label">
	<?php
	echo $this->translate('File');
	?>
						</label>
						<div class="col-sm-6">
							<input type="file" name="archivo" id="archivo" accept="application/msexcel" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-10 col-sm-2">
							<button type="submit"><?php echo $this->translate('Upload'); ?></button>
						</div>
					</div>
				</form>
        	</div>
		</div>

	</div>
</div>
