<?php $identity = $this->currentIdentity(); ?>
<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('GYM'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/clock.css'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
						->prependStylesheet($this->basePath('css/jquery.dataTables.min.css'));
?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/require.config.js'))
            ->prependFile($this->basePath('js/require.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
		<script type="application/javascript">
			requirejs.config({
				baseUrl: '<?php echo $this->basePath('js/'); ?>',
				urlArgs: "v=1"
			});
		</script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/uvm-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('GYM') ?></a>
                </div>
			</div>
			<div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
						<?php if ($this->isAllowed($identity['role'], 'Application\Controller\Checkin')) : ?>
                        <li class="<?php echo ($this->controllerName() == "Application\Controller\Checkin") ? 'active' : ''; ?>"><a href="<?php echo $this->url('application/default', array('controller' => 'checkin')) ?>"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Attendance') ?></a></li>
						<?php endif; ?>
						<?php if ($this->isAllowed($identity['role'], 'Application\Controller\Registro')) : ?>
                        <li class="<?php echo ($this->controllerName() == "Application\Controller\Registro") ? 'active' : ''; ?>"><a href="<?php echo $this->url('application/default', array('controller' => 'registro')) ?>"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Sign up') ?></a></li>
						<?php endif; ?>
						<?php if ($this->isAllowed($identity['role'], 'Application\Controller\Alumnos')) : ?>
                        <li class="<?php echo ($this->controllerName() == "Application\Controller\Alumnos") ? 'active' : ''; ?>"><a href="<?php echo $this->url('application/default', array('controller' => 'alumnos')) ?>"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Students') ?></a></li>
						<?php endif; ?>
						<?php if ($this->isAllowed($identity['role'], 'Application\Controller\Metricas')) : ?>
                        <li class="<?php echo ($this->controllerName() == "Application\Controller\Metricas") ? 'active' : ''; ?>"><a href="<?php echo $this->url('application/default', array('controller' => 'metricas')) ?>"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Metrics') ?></a></li>
						<?php endif; ?>
						<?php if ($this->isAllowed($identity['role'], 'Application\Controller\Database')) : ?>
                        <li class="<?php echo ($this->controllerName() == "Application\Controller\Database") ? 'active' : ''; ?>"><a href="<?php echo $this->url('application/default', array('controller' => 'database')) ?>"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Database') ?></a></li>
						<?php endif; ?>
                    </ul>
					<ul class="nav navbar-nav navbar-right">
						<?php if ($identity['role'] == 'guest'): ?>
							<li><a href="<?php echo $this->url('login') ?>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<?php echo $this->translate('Log in') ?></a></li>
						<?php else: ?>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<?php echo $identity['matricula'] ?> <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="<?php echo $this->url('application/default', array('controller' => 'admin')) ?>"><?php echo $this->translate('New Admin') ?>&nbsp;<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></a></li>
									<li><a href="<?php echo $this->url('logout') ?>"><?php echo $this->translate('Log out') ?>&nbsp;<span class="glyphicon glyphicon-off pull-right" aria-hidden="true"></span></a></li>
								</ul>
							</li>
						<?php endif; ?>
					</ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2015 - <?php if (date('Y') != '2015') {echo date('Y');} ?> por Mariana Villicaña, Alejandro Santoyo. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
