<div class="row">

    <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('New Admin') ?></h3>
            </div>
            <div class="panel-body">
<?php
$form->setAttribute('action', $this->url('application/default', array('controller' => 'admin', 'action' => 'newadmin')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($form);
?>
				<div class="form-group">
					<label for="matricula" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('matricula')));
?>
					</label>
					<div class="col-sm-4">
<?php
echo $this->formElement($form->get('matricula')
						->setAttribute('class', 'form-control')
						->setAttribute('autofocus', 'true')
					   );
?>
					</div>
					<div class="col-sm-8">
<?php
echo $this->formElementErrors($form->get('matricula'), array('class' => 'bg-danger'));
echo (isset($error)) ? "<ul class='bg-danger'><li>" . $this->translate($error) . "</li></ul>" : '';
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('nombre')));
?>
					</label>
					<div class="col-sm-6">
<?php
echo $this->formElement($form->get('nombre')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('nombre'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('password')));
?>
					</label>
					<div class="col-sm-8">
<?php
echo $this->formElement($form->get('password')
						->setAttribute('class', 'form-control')
					   );
?>
					</div>
					<div class="col-sm-8">
<?php
echo $this->formElementErrors($form->get('password'), array('class' => 'bg-danger'));
echo (isset($error)) ? "<ul class='bg-danger'><li>" . $this->translate($error) . "</li></ul>" : '';
?>
					</div>
  				</div>
				<div class="form-group">
					<label for="password2" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('password2')));
?>
					</label>
					<div class="col-sm-8">
<?php
echo $this->formElement($form->get('password2')
						->setAttribute('class', 'form-control')
					   );
?>
					</div>
					<div class="col-sm-8">
<?php
echo $this->formElementErrors($form->get('password2'), array('class' => 'bg-danger'));
echo (isset($error)) ? "<ul class='bg-danger'><li>" . $this->translate($error) . "</li></ul>" : '';
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-7 col-sm-10">
<?php
echo $this->formSubmit($form->get('submit')
					  	->setAttribute('class', 'btn btn-default')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>

</div>
