<?php echo $this->headTitle($this->translate('Students'))->setAutoEscape(false) ?>
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Students') ?></h3>
            </div>
            <div class="panel-body">
				<table id="students" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th><?php echo $this->translate('Name') ?></th>
							<th><?php echo $this->translate('ID') ?></th>
							<th><?php echo $this->translate('Career') ?></th>
							<th><?php echo $this->translate('Sport') ?></th>
							<th><?php echo $this->translate('Certificate') ?></th>
							<th><?php echo $this->translate('Options') ?></th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th><?php echo $this->translate('Name') ?></th>
							<th><?php echo $this->translate('ID') ?></th>
							<th><?php echo $this->translate('Career') ?></th>
							<th><?php echo $this->translate('Sport') ?></th>
							<th><?php echo $this->translate('Certificate') ?></th>
							<th><?php echo $this->translate('Options') ?></th>
						</tr>
					</tfoot>
				</table>
				<script type="text/javascript">
					require(['jquery', 'datatables'], function($, DataTable) {
						$(document).ready(function() {
							var table = $('#students').DataTable( {
								"ajax": "<?php echo $this->url('application/default', array('controller' => 'alumnos', 'action' => 'allAlumnos')) ?>",
								"pageLength": 25,
								"columnDefs": [
									{
										"targets": -1,
										"data": null,
										"defaultContent":
"<span class='dropdown'>\
	<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>\
		<?php echo $this->translate('Options') ?> \
		<span class='caret'></span>\
	</a>\
	<span id='deactivated-icon' class='glyphicon glyphicon-remove-circle pull-right' aria-hidden='true'></span>\
	<span id='renew-icon' class='glyphicon glyphicon-refresh pull-right' aria-hidden='true'>&nbsp;</span>\
	<ul class='dropdown-menu' role='menu'>\
		<li>\
			<a href='#' class='renew'>\
				<span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>&nbsp;\
				<?php echo $this->translate('Renew') ?>\
			</a>\
		</li>\
		<li>\
			<a href='#' class='deactivate'>\
				<span class='glyphicon glyphicon-remove-circle' aria-hidden='true'></span>&nbsp;\
				<?php echo $this->translate('Deactivate') ?>\
			</a>\
		</li>\
		<li>\
			<a href='#' class='activate'>\
				<span class='glyphicon glyphicon-ok-circle' aria-hidden='true'></span>&nbsp;\
				<?php echo $this->translate('Activate') ?>\
			</a>\
		</li>\
		<li>\
			<a href='#' class='edit'>\
				<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>&nbsp;\
				<?php echo $this->translate('Edit') ?>\
			</a>\
		</li>\
	</ul>\
</span>"
									}
								]/*,
								"language": {
									"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json"
								}*/
							} );

							$('#students').on( 'draw.dt', function () {
								$('#students tbody tr').each(function(index, element) {
									var data = table.row( $(element) ).data();
									var yearsOld = parseInt(data[5]);
									if (yearsOld < 1) {
										$(element).find('a.renew').parent('li').addClass('disabled');
										$(element).find('#renew-icon').hide();
									} else {
										$(element).find('#renew-icon').show();
									}

									var active = data[6];
									if (active) {
										$(element).removeClass('danger');
										$(element).find('#deactivated-icon').hide();
										$(element).find('a.deactivate').parent('li').show();
										$(element).find('a.activate').parent('li').hide();
									} else {
										$(element).addClass('danger');
										$(element).find('#deactivated-icon').show();
										$(element).find('a.renew').parent('li').addClass('disabled');
										$(element).find('a.deactivate').parent('li').hide();
										$(element).find('a.activate').parent('li').show();
									}
								});
							} );

							$('#students tbody').on( 'click', '.deactivate, .activate', function (event) {
								event.preventDefault();
								var row = table.row( $(this).parents('tr') );
								var data = row.data();
								var matricula = data[1];
								var active = data[6];
								var r;
								if (active) {
									r = confirm('<?php echo $this->translate('Deactivate user?') ?>');
								} else {
									r = true;
								}

								if (r == true) {
									$.post('<?php echo $this->url('application/default', array('controller' => 'alumnos', 'action' => 'toggleActivate')); ?>',
										{matricula: matricula},
										function(json) {
											if (json.status == 'ok') {
												data[6] = json.active;
												if (json.active) {
													data[4] = json.fecha;
													data[5] = json.diff;
												}
												row.data(data).draw();
											}
										},
										'json');
								}
							} );

							$('#students tbody').on( 'click', '.renew', function (event) {
								event.preventDefault();
								var row = table.row( $(this).parents('tr') );
								var data = row.data();
								var yearsOld = parseInt(data[5]);
								if (yearsOld < 1) {
									return;
								}
								var active = data[6];
								if (!active) {
									return;
								}
								var matricula = data[1];
								$.post('<?php echo $this->url('application/default', array('controller' => 'alumnos', 'action' => 'renew')); ?>',
									   {matricula: matricula},
									   function(json) {
											if (json.status == 'ok') {
												data[4] = json.fecha;
												data[5] = json.diff;
												row.data(data).draw();
											}
										},
									   'json');
							} );

							$('#students tbody').on( 'click', '.edit', function (event) {
								event.preventDefault();
								var row = table.row( $(this).parents('tr') );
								var data = row.data();
								var matricula = data[1];
								window.location.href = "<?php echo $this->url('application/default', array('controller' => 'alumnos', 'action' => 'edit'), array('force_canonical' => true) ); ?>?matricula=" + matricula;
							} );
						} );
					});
				</script>
            </div>
        </div>
    </div>

</div>
