<?php echo $this->headTitle($this->translate('Database'))->setAutoEscape(false) ?>
<div class="row">
	<ul class="nav nav-pills nav-justified" style="padding-bottom:30px;">
		<li role="presentation" class="active" data-type="carreras"><a href="#"><?php echo $this->translate('Career') ?></a></li>
		<li role="presentation" data-type="deportes"><a href="#"><?php echo $this->translate('Sports') ?></a></li>
	</ul>
	<script type="text/javascript">
		require(['jquery'], function($) {
			$('li[role="presentation"]').each(function(index){
				var li = $(this);
				$(this).find('a').click(function(event) {
					event.preventDefault();
					var active = li.hasClass('active');
					if (!active) {
						$('li[role="presentation"]').filter('.active').removeClass('active');
						$('div[data-tab]').hide();
						li.addClass('active');
						var type = li.data('type');
						$('.' + type).show();
					}
				});
			});
		});
	</script>
</div>
<div class="row carreras" data-tab>
	<div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Add career') ?></h3>
            </div>
            <div class="panel-body">
<?php
$carrera->setAttribute('action', $this->url('application/default', array('controller' => 'database', 'action' => 'newcarrera')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($carrera);
?>
				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($carrera->get('nombre')));
?>
					</label>
					<div class="col-sm-10">
<?php
echo $this->formElement($carrera->get('nombre')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($carrera->get('nombre'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
<?php
echo $this->formSubmit($carrera->get('submit')
					  	->setAttribute('class', 'btn btn-success')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><?php echo $this->translate('Careers') ?></h3>
				</div>
				<div class="panel-body">
					<table id="careers" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><?php echo $this->translate('Name') ?></th>
								<th><?php echo $this->translate('Options') ?></th>
							</tr>
						</thead>

						<tfoot>
							<tr>
								<th><?php echo $this->translate('Name') ?></th>
								<th><?php echo $this->translate('Options') ?></th>
							</tr>
						</tfoot>
					</table>
					<script type="text/javascript">
						require(['jquery', 'datatables'], function($, DataTable) {
							$(document).ready(function() {
								var table = $('#careers').DataTable( {
									"ajax": "<?php echo $this->url('application/default', array('controller' => 'database', 'action' => 'allCarreras')) ?>",
									"columnDefs": [
										{
											"targets": -1,
											"data": null,
											"defaultContent":
	"<span class='dropdown'>\
		<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>\
			<?php echo $this->translate('Options') ?> \
			<span class='caret'></span>\
		</a>\
		<ul class='dropdown-menu' role='menu'>\
			<li>\
				<a href='#' class='edit'>\
					<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>&nbsp;\
					<?php echo $this->translate('Edit') ?>\
				</a>\
			</li>\
		</ul>\
	</span>"
										}
									]/*,
									"language": {
										"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json"
									}*/
								} );

								$('#careers tbody').on( 'click', '.edit', function (event) {
									event.preventDefault();
									var row = table.row( $(this).parents('tr') );
									var data = row.data();
									var carrera = data[1];
									window.location.href = "<?php echo $this->url('application/default', array('controller' => 'database', 'action' => 'editcarrera'), array('force_canonical' => true) ); ?>?carrera=" + carrera;
								} );
							} );
						});
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row deportes" data-tab style="display:none;">
	<div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('New sport') ?></h3>
            </div>
            <div class="panel-body">
<?php
$deporte->setAttribute('action', $this->url('application/default', array('controller' => 'database', 'action' => 'newdeporte')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($deporte);
?>
				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($deporte->get('nombre')));
?>
					</label>
					<div class="col-sm-10">
<?php
echo $this->formElement($deporte->get('nombre')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($deporte->get('nombre'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
<?php
echo $this->formSubmit($deporte->get('submit')
					  	->setAttribute('class', 'btn btn-success')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>
	<div class="row">
		<div class="col-sm-offset-2 col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><?php echo $this->translate('Sports') ?></h3>
				</div>
				<div class="panel-body">
					<table id="sports" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><?php echo $this->translate('Name') ?></th>
								<th><?php echo $this->translate('Options') ?></th>
							</tr>
						</thead>

						<tfoot>
							<tr>
								<th><?php echo $this->translate('Name') ?></th>
								<th><?php echo $this->translate('Options') ?></th>
							</tr>
						</tfoot>
					</table>
					<script type="text/javascript">
						require(['jquery', 'datatables'], function($, DataTable) {
							$(document).ready(function() {
								var table = $('#sports').DataTable( {
									"ajax": "<?php echo $this->url('application/default', array('controller' => 'database', 'action' => 'allDeportes')) ?>",
									"columnDefs": [
										{
											"targets": -1,
											"data": null,
											"defaultContent":
	"<span class='dropdown'>\
		<a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-expanded='false'>\
			<?php echo $this->translate('Options') ?> \
			<span class='caret'></span>\
		</a>\
		<ul class='dropdown-menu' role='menu'>\
			<li>\
				<a href='#' class='edit'>\
					<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span>&nbsp;\
					<?php echo $this->translate('Edit') ?>\
				</a>\
			</li>\
		</ul>\
	</span>"
										}
									]/*,
									"language": {
										"url": "//cdn.datatables.net/plug-ins/1.10.7/i18n/Spanish.json"
									}*/
								} );

								$('#sports tbody').on( 'click', '.edit', function (event) {
									event.preventDefault();
									var row = table.row( $(this).parents('tr') );
									var data = row.data();
									var deporte = data[1];
									window.location.href = "<?php echo $this->url('application/default', array('controller' => 'database', 'action' => 'editdeporte'), array('force_canonical' => true) ); ?>?deporte=" + deporte;
								} );
							} );
						});
					</script>
				</div>
			</div>
		</div>

	</div>
</div>
