<div class="row">
	<div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Add sport') ?></h3>
            </div>
            <div class="panel-body">
<?php
$form->setAttribute('action', $this->url('application/default', array('controller' => 'database', 'action' => 'newdeporte')))
	->setAttribute('class', 'form-horizontal')
      ->prepare();

 echo $this->form()->openTag($form);
?>
				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">
<?php
echo $this->translate($this->formLabel($form->get('nombre')));
?>
					</label>
					<div class="col-sm-10">
<?php
echo $this->formElement($form->get('nombre')
						->setAttribute('class', 'form-control')
					   );
?>
<?php
echo $this->formElementErrors($form->get('nombre'), array('class' => 'bg-danger'));
?>
					</div>
  				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
<?php
echo $this->formSubmit($form->get('submit')
					  	->setAttribute('class', 'btn btn-success')
					  );
?>
					</div>
				</div>
<?php
echo $this->form()->closeTag();
?>
            </div>
        </div>
    </div>
</div>
